/* --------------------------- Elements CSS ------------------------- */

/* --------------------------- Headers CSS --------------------------- */
header {
  background-color: var(--nitro-pink);
  width: 100vw;
  display: flex;
  padding: 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header-nav-links {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-top: 0.9rem;
}

.header-nav-links li a:hover {
  color: var(--nitro-blue)
}

.header-nav-links li:nth-child(3) a {
  color: var(--nitro-blue);
}

.header-nav-links li:nth-child(3) a:hover {
  color: var(--graphite);
}

/* --------------------------- Headers CSS --------------------------- */
h1,
h2 {
  font-size: 6rem;
  font-weight: 300;
}

h3,
nav h1 {
  font-size: 3.3rem;
  font-weight: 300;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  font-size: 2.1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--graphite);
}

p {
  font-size: 1.8rem;
  font-weight: 400;
}

.p-italic {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
}

.title-box {
  width: 300px;
  height: 200px;
  background-color: var(--graphite);
  text-align: center;
  color: white;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 700px;
  background-image: url(../assets/images/coffee-circle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-nav {
  width: 100%;
  height: 80px;
  background-color: var(--graphite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-nav-links {
  display: flex;
}

.sub-nav-links li a {
  color: white;
  border-left: 4px solid var(--nitro-blue);
  padding: 0px 20px 0px 20px;
}


.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.card-container:nth-child(odd) {
  background-color: var(--nitro-pink);
}

.card-container:nth-child(even) {
  background-color: var(--neutral-light-gray);
}

/* 
    Instead of using a className here. 
    I want to use what I learned in class which is Child Selectors 
*/
article > h3 {
  text-align: center;
}


.menu-description {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
}

.menu-price {
  text-align: center;
  color: var(--nitro-blue);
  margin-bottom: 0;
}
